{{ fn('get_header') }}

<main>
    <div class="container --padding-y-24">
        <div class="row">
            <div class="col-12 col-lg-3">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-12 col-lg-9">
                {% block content %}
                    {% for post in posts %}
                        <article class="content-area {{ not loop.last ? '--margin-bottom-24' }}">
                            <header class="--padding-bottom-4">
                                <h2>
                                    {{ post.title }}
                                </h2>
                            </header>
                            {{ post.content }}
                        </article>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>

{{ fn('get_footer') }}