<!doctype html>
<html {{ fn('language_attributes') }}>
    <head>
        <meta charset="{{ fn('bloginfo', 'charset' ) }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="https://gmpg.org/xfn/11">

        {{ wp_head() }}
    </head>

    <body {{ fn('body_class') }}>
        {{ fn('wp_body_open') }}
        <header class="site-header">
            <div class="container site-header__container">
                <h1>
                    <a href="{{ site.url }}">
                        {{ site.name }}
                    </a>
                </h1>
                <nav class="site-header__nav">
                    <ul class="--text-right">
                        {% for menu_item in menu.items %}
                            <li class="site-header__item {{ menu_item.classes|join(' ') }}">
                                <a href="{{ menu_item.link }}" class="site-header__item__link">
                                    {{ menu_item.title }}
                                </a>
                                {% if menu_item.children %}
                                    <ul>
                                        {% for sub_menu_item in menu.children %}
                                            <li>
                                                <a href="{{ sub_menu_item.link }}">
                                                    {{ sub_menu_item.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>